.begin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
}

.instructions {
  padding: 10px;
  border: 1px #fff solid;
  border-radius: 8px;
  margin: 10px auto;
  background-image: linear-gradient(#f9bebe, #834f4f);
}
