.hangman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hangman img {
  margin-top: 20px;
}

.hangman p {
  margin-top: 10px;
}

.hangman button {
  margin-bottom: 10px;
}
